:root {
  /*Colors*/
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --dark-grayish-red: hsl(0, 6%, 24%);
  --background: hsl(0, 100%, 97%);

  /*gradiens*/
  --linear: 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%);
  --linear-two: 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%);

  /*Typography*/
  --font-size: 1.6rem;
  --body-font: 'Josefin Sans', sans-serif;
  --font-light: 300;
  --font-medium: 400;
  --font-bold: 600;

  /*Margin bottom*/
  --mb-0-8: 8px;
  --mb-2-4: 24px;
  --mb-3-6: 36px;
  --mb-4-8: 48px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  width: 100%;
  background-color: var(--background);
  font-family: var(--body-font);
  font-size: var(--font-size);
}
img {
  width: 100%;
}
.logo-container {
  padding: 20px;
  background-color: white;
}
.logo {
  width: 120px;
}
.hero-container {
  width: 100%;
  height: 320px;
  background-image: url('../img/hero-mobile.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (min-width: 480px) {
  .hero-container {
    margin-bottom: var(--mb-4-8);
    background-position: center;
  }
}
.details {
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: var(--mb-4-8);
  padding: 0 28px;
}
.details__title {
  margin-bottom: var(--mb-2-4);
  font-size: 4rem;
  letter-spacing: 1.2rem;
  text-transform: uppercase;
}
.details__title span {
  font-weight: var(--font-light);
  color: var(--desaturated-red);
}
.details__subtitle {
  margin-bottom: var(--mb-2-4);
  line-height: 2.8rem;
  color: var(--desaturated-red);
}
.details__input-container {
  position: relative;
  width: 100%;
  margin-bottom: var(--mb-0-8);
  padding: 12px 0;
  border-radius: 24px;
  border: 1px solid var(--desaturated-red);
  text-align: start;
}
.details__input {
  width: 58%;
  margin-left: 16px;
  outline: 0;
  border: 0;
  background-color: var(--background);
  color: var(--dark-grayish-red);
  font-size: 1.4rem;
}
.details__input::placeholder {
  background-color: var(--background);
  color: var(--desaturated-red);
}
.details__alert-img {
  position: absolute;
  top: 10px;
  right: 72px;
  width: 20px;
}
.details__alert-message {
  font-size: 1.2rem;
  color: var(--soft-red);
}
.button {
  position: absolute;
  top: -4px;
  right: -4px;
  cursor: pointer;
  width: 64px;
  height: 50px;
  border-radius: 24px;
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  border: 0;
  outline: 0;
  color: white;
  box-shadow: 0 6px 8px 8px rgb(206 151 151 / 25%);
}
.button:hover {
  background: linear-gradient(135deg, hsl(0, 90%, 88%), hsl(0, 88%, 88%));
}
.button::after {
  content: url('../img/icon-arrow.svg');
}
.hidden {
  display: none;
}
.show {
  display: inline-block;
}
